@page "/"

<h1 class="h1">Kommende kampe skribent</h1>
<div class="container">
    <div class="row align-items-end mb-3">
        <div class="col-3">
            <div class="form-floating">
                <InputText @bind-Value="HjemmeSponsor" id="floating1" class="form-control" placeholder="" aria-label="Hjemmebane sponsor" aria-describedby="floating1" />
                <label for="floating1">Hjemmebane sponor</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <InputText @bind-Value="UdeSponsor" id="floating2" class="form-control" placeholder="" aria-label="Udebane sponsor" aria-describedby="floating2" />
                <label for="floating2">Udebane sponor</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <InputDate @bind-Value="UgeDato" id="floating3" class="form-control" placeholder="" aria-label="Dato for uge" aria-describedby="floating3" lang="da" />
                <label for="floating3">Vælg dato for uge</label>
            </div>
        </div>
        <div class="col-3">
            <div class="btn-group">
                <button class="btn btn-primary" @onclick="OnOpretOplsag">Opret opslag</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-floating">
                <InputTextArea @bind-Value="HjemmeText" class="form-control" id="floatingTextarea1" placeholder="" style="height: 100px" />
                <label for="floatingTextarea1">Hjemmebane text</label>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-floating">
                <InputTextArea @bind-Value="UdeText" class="form-control" id="floatingTextarea2" placeholder="" style="height: 100px" />
                <label for="floatingTextarea2">Udebane text</label>
            </div>
        </div>
    </div>
</div>

@code {
    private string HjemmeSponsor { get; set; } = string.Empty;
    private string UdeSponsor { get; set; } = string.Empty;

    private DateTime UgeDato { get; set; } = DateTime.Now;

    private string HjemmeText { get; set; } = string.Empty;
    private string UdeText { get; set; } = string.Empty;

    private async Task OnOpretOplsag()
    {
        var api = new MatchesAPI();
        var skribent = new FacebookWriter();

        var matches = await api.GetMatchesForWeekOfDateTime(UgeDato);

        HjemmeText = skribent.WriteText(HjemmeSponsor, UgeDato, [.. matches.Where(m => m.Hjemmehold?.Contains("Asaa BK") ?? false)]);
        UdeText = skribent.WriteText(UdeSponsor, UgeDato, [.. matches.Where(m => (m.Udehold?.Contains("Asaa BK") ?? false) 
                                                                                && !(m.Hjemmehold?.Contains("Asaa BK") ?? false))]);

        StateHasChanged();
    }
}